@import url('https://fonts.googleapis.com/css?family=Raleway');

html, h1, h2, h3, h4, h5, h6, a{
  font-family: "Raleway";
}

body {
  background-color: rgb(244, 244, 244);
}

.container{
  min-height: 80vh;
  min-width: 100vh;
}

/* Navbar */
.navbar{ background:#036919;}
.nav-link, .navbar-brand{color: #f4f4f4; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{background:#f4f4f4; color:#036919;}
.navbar-collapse{justify-content: flex-end;}
.navbar-toggler{background:#fff !important;}
.bg-dark{
  background-color: #343a40!important;
}

/* Header */
.header{
  background-image: url('../images/ecateringof.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.header .overlay{
  position:absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(244, 244, 244, 0.8);
}

.header .description{
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;
}


.header .description p{
  color: #666;
  font-size: 20px;
  width: 60%;
  line-height: 1.5;
}

.header .description a{
  border: 1px solid #036919;
  background: #036919;
  color: #fff;
}

/* About */
.about{
  margin: auto;
  margin: 4em 0;
  padding: 2em;
  position: relative;
}

.about h1{
  margin: 2em;
}

.about img{
  height:100%;
  width: 100%;
}

.about span{
  display: block;
  color: #888;
}

.about .desc{
  padding: 2em;
  border-left: 4px solid #022427;
}

.about .desc h3{
  color: #10828C;
}

.about .desc p{
  font-size: large;
  line-height: 2;
  color: #888;
}

h1{
  color: #036919;
}

.map{
  margin: 4em 0;
  padding: 2em;
}
.map h1{
  margin: 2em;
}
.map #map-field {
  width: 100vh;
  height: 70vh;
}
.history{
  background-image: url('../images/history_castle.jpg');
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}


.history .overlay{
  position: absolute;
  min-height: 100vh;
  min-width: 100%;
  background: rgba(244, 244, 244, 0.8);
}

.history .description{
  position: absolute;
  padding: 2em;
}

.history .description h1{
  margin: 2em;
  margin-bottom: 1em;
  margin-left: 30%;
}


.history .description p{
  margin-left: 5%;
  color: #666;
  font-size: 20px;
  width: 70%;
  line-height: 1.5;
}

.before{
  margin: 4em 0;
  padding: 2em;
}
.before h1{
  margin: 2em;
}

.before{
  background-image: url('../images/now_fundament.jpg');
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}


.before .overlay{
  position: absolute;
  min-height: 100vh;
  min-width: 100%;
  background: rgba(244, 244, 244, 0.8);
}

.before .description{
  position: absolute;
  margin: auto;
  padding: 2em;
}

.before .description h1{
  margin: 2em;
  margin-left: 30%;
}


.before .description p{
  margin-left: 10%;
  color: #666;
  font-size: 20px;
  width: 60%;
  line-height: 1.5;
}

.after{
  margin: 4em 0;
  padding: 2em;
}
.after h1{
  margin: 2em;
}

.after{
  background-image: url('../images/project.png');
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}


.after .overlay{
  position: absolute;
  min-height: 100vh;
  min-width: 100%;
  background: rgba(244, 244, 244, 0.8);
}

.after .description{
  position: absolute;
  padding: 2em;
}

.after .description h1{
  margin: 2em;
  margin-left: 30%;
}


.after .description p{
  margin-left: 10%;
  color: #666;
  font-size: 20px;
  width: 60%;
  line-height: 1.5;
}

/* Contact form */
.contact-form{
  margin: 6em 0;
  position: relative;
}

.contact-form h1{
  padding: 2em 1px;
}

.contact-form form{
  max-width: 600px;
}

.contact-form .btn-secondary{
  background: #036919;
  color: #fff;
  border: 0;
}

.contact-form .form-control::placeholder{
  color: #888;
  font-size: 16px;
}
